*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

ul{
    list-style-type: none;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.title{
    margin: 10px 0;
    text-align: center;
}

.badge-tech,
.badge-type {
    width: 30%;
    padding: 8px 10px;
    border-radius: 10px;
    text-align: center;
}

.badge-tech {
    background-color: rgb(99, 195, 254);
}

.badge-type {
    background-color: rgb(254, 169, 99);
}

button{
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}